body {
  background-color: #333;
  color: white;
  font-family: system-ui;
  padding: 2%;
  margin: 5%;
}

h1 {
  text-align: center;
  margin: 2%;
}

.btn {
  width: 120px;
  font-size: 18px;
  margin: 25px;
}

.action {
  display: flex;
  justify-content: center;
}

.form-control {
  height: 100px;
  font-size: 26px;
  margin-top: 1.5%;
  padding-left: 2%;
}

.list-group-item > span {
  font-size: 26px;
  margin-top: 1.5%;
  margin-left: 2%;
}